<div class="collapsible">
  <header class="collapsible__header">
      <h2 class="collapsible__heading">Item 1</h2>
      <span class="icon-wrapper icon-wrapper--dark collapsible__chevron">
            <img src="./images/chevron.svg" alt="">
    </span>
  </header>
  <div class="collapsible__content ">
    </p> 
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non impedit 
    laudantium corrupti ab veniam perferendis facilis excepturi sequi ut 
    facere?
    <p>
         
  </div>
</div>