<div class="card testimonial">
    <div class="grid grid--cols--2">
        <div class="testimonial__images__container">    
            <img class= "testimonial__image" src="./images/testimonial.jpg" alt="A happy customer">
            <span class="icon-wrapper icon-wrapper--accent">
                <svg class="icon">
                    <use xlink:href="./images/sprite.svg#quotes"></use>
                </svg>
            </span>
        </div>
        <blockquote style="width: 50%;" class="quote">
            <p class="quote__text"> Lorem ipsum dolor sit 
                amet consectetur adipisicing elit. Vero,
                sit commodi magnam iusto error dolor necessitatibus 
                repellat sequi aliquam minus!</p>
            <footer>
                <div class="media">
                    <div class="media__image">
                        <img src="./images/line.svg" class="icon icon--primary">
                        </img>
                    </div>
                    <div class="media__body">
                        <h3 class="quote__author">John Smith</h3>
                        <p class="quote__company"> ABC Company</p>
                    </div>
                </div>
        </footer>
        </blockquote>
    </div>
</div>